@charset "utf-8";
/* 你自己的样式 */
#setTable{

table-layout: fixed;


}
#setTable{




}
#setTd{
overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;


}